:root {
  font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

/* Force a scrollbar to avoid page/jumps */
html {
  overflow-y: scroll;
  background-color: #1f1e25;
  color: #f1f1f1;
}

body {
  min-height: 100vh;
}